* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(frosted.png);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  
}

body main {
  margin: 50px;
  text-align: center;
  color: white;
}